<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <meta charset="utf-8">
    <meta name="distribution" content="global">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="author" content="Nogle">
    <meta name="publisher" content="">
    <meta property="article:author" content="">
    <meta property="article:publisher" content="">
    <meta name="rating" content="general">
    <meta name="copyright" content="">
    <meta name="robots" content="all">
    <meta name="spiders" content="all">
    <meta name="webcrawlers" content="all">
    <meta name="company" content="">
    <meta name="abstract" content="">
    <meta name="subject" content="">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="format-detection" content="telephone=no">
    <!-- End meta -->

    <title>Capital Management</title>
    
    <link rel="shortcut icon" type="image/png" href="./img/favicon.png"/>
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>